# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart packages
.dart_tool/
.packages
build/

# Flutter/Dart/Pub plugins
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# Android Studio
captures/
.externalNativeBuild/
*.apk
*.ap_

# Xcode
*.hmap
*.ipa
*.o
*.xccheckout
*.xcscmblueprint
*.xcscheme
*.xcworkspace
*.xcworkspacedata
.generated/
DerivedData/
xcuserdata/

# Cocoapods
Pods/
Podfile.lock

android/app/google-services.json