# Flutter & Dart
.dart_tool/
.packages
build/
pubspec.lock

# IDE
.idea/
*.iml

# Xcode
ios/Pods/
ios/Runner/Debug.xcconfig
ios/Runner/Release.xcconfig
macos/Pods/
macos/Runner/Flutter-*.xcconfig
macos/Podfile
macos/Podfile.lock
