<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBs6wKr_BJfT70xvSEUkXk6_Q61cBwJzAE</string>
	<key>GCM_SENDER_ID</key>
	<string>335031153474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crophealthaiMobile</string>
	<key>PROJECT_ID</key>
	<string>crophealthai-b3c04</string>
	<key>STORAGE_BUCKET</key>
	<string>crophealthai-b3c04.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335031153474:ios:8b06e9a9643bbe31714edb</string>
</dict>
</plist>